<%- include('./layouts/style') %>
<%- include('./layouts/head') %>
<%- include('./layouts/menu-list') %>

<div>
    ggkjuj
</div>
<div>
    sd
</div>
<div>
    sd
</div>
<%- include('./layouts/footer') %>
<%- include('./layouts/script') %>