<%- include('./layouts/style') %>
<%- include('./layouts/head') %>

<%- include('./layouts/menu-list') %>


<div class="container">
    <h1>Chào mừng đến với trang quản trị</h1>
    <p>Đây là trang quản trị admin. Bạn có quyền truy cập đầy đủ vào hệ thống.</p>
</div>

<%- include('./layouts/footer') %>
<%- include('./layouts/script') %>



