<div class="col-sm-12">
    <div id="updateModalLive" class="modal fade" tabindex="-1" role="dialog"
        aria-labelledby="updateModalLive" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateModalLive">UPDATE
                        PUBLISHER</h5>
                    <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <% if (typeof error !== 'undefined') { %>
                    <div class="alert alert-danger">
                        <%= error %>
                    </div>
                    <% } %>
                    <% if (typeof success !== 'undefined') { %>
                    <div class="alert alert-success">
                        <%= success %>
                    </div>
                    <% } %>

                    <form id="updateForm"
                        action="/admin/publisher/update/<%=publishers._id %>"
                        method="POST">
                        <input type="hidden" name="_method" value="POST" />
                        <input type="hidden" name="publisherId"
                            id="publisherId">
                        <div class="form-group row">
                            <label for="name"
                                class="col-sm-2 col-form-label">Tên nhà xuất
                                bản</label>
                            <div class="col-sm-10">
                                <input type="text" name="name"
                                    class="form-control w-100" id="name"
                                    placeholder="Enter Name"
                                    value="<%= publishers.name %>">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="country"
                                class="col-sm-2 col-form-label">Country</label>
                            <div class="col-sm-10">
                                <input type="text" name="country"
                                    class="form-control w-100" id="country"
                                    placeholder="Enter Country"
                                    value="<%= publishers.country%>">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="createdAt"
                                class="col-sm-2 col-form-label"> Date</label>
                            <div class="col-sm-10">
                                <input type="date" name="createdAt"
                                    class="form-control w-100" id="createdAt"
                                    value="<%= publishers.createdAt %>"
                                    readonly>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                data-dismiss="modal">Close</button>
                            <button type="submit"
                                class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
