<%- include('./layouts/style') %>
<%- include('./layouts/head') %>
<%- include('./layouts/menu-list') %>

<div class="col-xl-12 col-md-12">

    <div class="card table-card">
        <div class="card-header">
            <div class="title-container">
                <h5><%= title %></h5>
                <span class="search-container">
                    <label for="Search">
                        <input id="Search" class="form-control" type="search"
                            placeholder="Search..">
                    </label>
                    <button type="button" class="btn btn-primary">
                        <i class="feather icon-search"></i>
                    </button>
                </span>
            </div>

            <button type="button" class="btn btn-success" data-toggle="modal"
                data-target="#exampleModalLive"><i
                    class="feather icon-plus"></i></button>
            <div class="card-header-right">
                <div class="btn-group card-option">
                    <button type="button" class="btn dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <i class="feather icon-more-horizontal"></i>
                    </button>
                    <ul
                        class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                        <li class="dropdown-item full-card"><a
                                href="#!"><span><i
                                        class="feather icon-maximize"></i>
                                    maximize</span><span style="display:none"><i
                                        class="feather icon-minimize"></i>
                                    Restore</span></a></li>
                        <li class="dropdown-item minimize-card"><a
                                href="#!"><span><i
                                        class="feather icon-minus"></i>
                                    collapse</span><span style="display:none"><i
                                        class="feather icon-plus"></i>
                                    expand</span></a></li>
                        <li class="dropdown-item reload-card"><a href="#!"><i
                                    class="feather icon-refresh-cw"></i>
                                reload</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table table-hover mb-0">
                    <thead>
                        <tr>
                            <th class="text-center">NO</th>
                            <th class="text-center">User ID</th>
                            <th class="text-center">Total Amount</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Payment Method</th>
                            <th class="text-center">Order Date</th>
                            <th class="text-center">End Date</th>
                            <th class="text-center">Address</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% orders.forEach((order, index) => { %>
                        <tr>
                            <td class="text-center"><%= index + 1 %></td>
                            <td class="text-center"><%= order.userId %></td>
                            <td class="text-center"><%= order.totalAmount
                                %></td>
                            <td class="text-center"><%= order.status %></td>
                            <td class="text-center"><%= order.paymentMethod
                                %></td>
                            <td class="text-center"><%=
                                order.orderDate.toISOString().split('T')[0]
                                %></td>
                            <td class="text-center"><%= order.address %></td>
                        </tr>
                        <% }); %>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<%- include('./model-insert-products') %>
<%- include('./model-update-product') %>
<%- include('./layouts/footer') %>
<%- include('./layouts/script') %>
