<%- include('./layouts/style') %>
<%- include('./layouts/head') %>
<%- include('./layouts/menu-list') %>

<div class="col-xl-12 col-md-12">
    <div class="card table-card">
        <div class="card-header">
            <div class="title-container">
                <h5><%= title %></h5>
                <span class="search-container">
                    <label for="Search">
                        <input id="Search" class="form-control" type="search"
                            placeholder="Search..">
                    </label>
                    <button type="button" class="btn btn-primary">
                        <i class="feather icon-search"></i>
                    </button>

                </span>

            </div>

            <button type="button" class="btn  btn-success" data-toggle="modal"
                data-target="#exampleModalLive"><i
                    class="feather icon-plus"></i></button>
            <div class="card-header-right">
                <div class="btn-group card-option">
                    <button type="button" class="btn dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <i class="feather icon-more-horizontal"></i>
                    </button>
                    <ul
                        class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                        <li class="dropdown-item full-card"><a
                                href="#!"><span><i
                                        class="feather icon-maximize"></i>
                                    maximize</span><span style="display:none"><i
                                        class="feather icon-minimize"></i>
                                    Restore</span></a></li>
                        <li class="dropdown-item minimize-card"><a
                                href="#!"><span><i
                                        class="feather icon-minus"></i>
                                    collapse</span><span style="display:none"><i
                                        class="feather icon-plus"></i>
                                    expand</span></a></li>
                        <li class="dropdown-item reload-card"><a href="#!"><i
                                    class="feather icon-refresh-cw"></i>
                                reload</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table table-hover mb-0">
                    <thead>
                        <tr>
                            <th class="text-center">NO</th>
                            <th class="text-center">Title</th>
                            <th class="text-center">Author</th>
                            <th class="text-center">Category</th>
                            <th class="text-center">Publisher</th>
                            <th class="text-center">Price</th>
                            <th class="text-center">Stock</th>
                            <th class="text-center">AVG</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">EDIT/DELETE</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">1</td>
                            <td class="text-center">To Kill a Mockingbird</td>
                            <td class="text-center">Harper Lee</td>
                            <td class="text-center">Horror</td>
                            <td class="text-center">Kim Đồng</td>
                            <td class="text-center">25000 VNĐ</td>
                            <td class="text-center">100</td>
                            <td class="text-center">4.9</td>
                            <td class="text-center">Active</td>
                            <td>
                                <button type="button" class="btn  btn-info"
                                    data-toggle="modal"
                                    data-target="#updateModalLive"><i
                                        class="feather icon-edit"></i></button>
                                <button type="button" class="btn  btn-danger"><i
                                        class="feather icon-trash-2"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<%- include('./model-insert-products') %>
<%- include('./model-update-product') %>
<%- include('./layouts/footer') %>
<%- include('./layouts/script') %>