<%- include('../layouts/style') %>
<%- include('../layouts/head') %>
<%- include('../layouts/menu-list', { path: 'users', title: 'Đơn hàng của Người dùng' }) %>

<div class="col-xl-12 col-md-12">
  <div class="card">
    <div class="card-header">
      <h5>Đơn hàng của <%= user.name %></h5>
    </div>
    <div class="card-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>Mã đơn hàng</th>
            <th>Ngày đặt</th>
            <th>Tổng tiền</th>
            <th>Trạng thái</th>
          </tr>
        </thead>
        <tbody>
            <% if (user.orders && user.orders.length > 0) { %>
              <% user.orders.forEach((order, index) => { %>
                <tr>
                  <td><%= index + 1 %></td>
                  <td><%= order.orderId %></td>
                  <td><%= order.orderDate.toLocaleDateString() %></td>
                  <td><%= order.totalAmount.toLocaleString() %> VNĐ</td>
                  <td><%= order.status %></td>
                </tr>
              <% }) %>
            <% } else { %>
              <tr>
                <td colspan="5" class="text-center">Không có đơn hàng nào.</td>
              </tr>
            <% } %>
          </tbody>
      </table>
    </div>
  </div>
</div>

<%- include('../layouts/footer') %>
<%- include('../layouts/script') %>